In [38]:
import numpy as np 
import pandas as pd 

from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OrdinalEncoder
from sklearn.preprocessing import OneHotEncoder

In [39]:
df = pd.read_csv(r"D:\py_machine_learning\datasets\credit_scoring - credit_scoring (1).csv")
df.head(2)

,Age,Gender,Marital Status,Education Level,Employment Status,Credit Utilization Ratio,Payment History,Number of Credit Accounts,Loan Amount,Interest Rate,Loan Term,Type of Loan
0,60,Male,Married,Master,Employed,0.22,2685,2,4675000,2.65,48,Personal Loan
1,25,Male,Married,High School,Unemployed,0.20,2371,9,3619000,5.19,60,Auto Loan

In [40]:
x=df.drop(columns=['Type of Loan'])
y=df['Type of Loan']

In [41]:
df.head()

,Age,Gender,Marital Status,Education Level,Employment Status,Credit Utilization Ratio,Payment History,Number of Credit Accounts,Loan Amount,Interest Rate,Loan Term,Type of Loan
0,60,Male,Married,Master,Employed,0.22,2685,2,4675000,2.65,48,Personal Loan
1,25,Male,Married,High School,Unemployed,0.20,2371,9,3619000,5.19,60,Auto Loan
2,30,Female,Single,Master,Employed,0.22,2771,6,957000,2.76,12,Auto Loan
3,58,Female,Married,PhD,Unemployed,0.12,1371,2,4731000,6.57,60,Auto Loan
4,32,Male,Married,Bachelor,Self-Employed,0.99,828,2,3289000,6.28,36,Personal Loan

In [42]:
df.shape

(1000, 12)

In [43]:
from sklearn.model_selection import train_test_split

In [44]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)

In [45]:
le=LabelEncoder()

In [46]:
# x_train['Gender']=le.fit_transform(x_train['Gender'])
# x_train['Marital Status']=le.fit_transform(x_train['Marital Status'])
# x_train['Education Level']=le.fit_transform(x_train['Education Level'])
# x_train['Employment Status']=le.fit_transform(x_train['Employment Status'])

In [47]:
oe = OrdinalEncoder(categories=[
    ['Male','Female'],
    ['Married', 'Single', 'Divorced'],
    ['Master', 'High School', 'PhD', 'Bachelor'],
    ['Employed', 'Unemployed', 'Self-Employed']
    ])

In [48]:
x_train['Gender'].unique()

array(['Female', 'Male'], dtype=object)

In [50]:
ordinal_transformed=oe.fit_transform(x_train[['Gender',
'Marital Status','Education Level','Employment Status']])

In [52]:
df_1=pd.DataFrame(ordinal_transformed,columns=['Gender','Marital Status','Education Level','Employment Status'])

In [53]:
numerical_columns=df.select_dtypes(exclude=['object'])

In [54]:
df_new=pd.concat((df_1,numerical_columns),axis=1)

In [56]:
from sklearn.preprocessing import FunctionTransformer

In [57]:
log_transformer=FunctionTransformer(np.log1p)

In [58]:
transformed_df=log_transformer.transform(df_new)

In [59]:
transformed_df.head()

,Gender,Marital Status,Education Level,Employment Status,Age,Credit Utilization Ratio,Payment History,Number of Credit Accounts,Loan Amount,Interest Rate,Loan Term
0,0.693147,0.000000,1.098612,0.693147,4.110874,0.198851,7.895808,1.098612,15.357740,1.294727,3.891820
1,0.000000,0.000000,1.386294,0.693147,3.258097,0.182322,7.771489,2.302585,15.101709,1.822935,4.110874
2,0.000000,1.098612,1.386294,1.098612,3.433987,0.198851,7.927324,1.945910,13.771560,1.324419,2.564949
3,0.693147,0.000000,0.693147,1.098612,4.077537,0.113329,7.224025,1.098612,15.369647,2.024193,4.110874
4,0.693147,0.693147,1.386294,1.098612,3.496508,0.688135,6.720220,1.098612,15.006094,1.985131,3.610918