In [191]:
import numpy as np
import pandas as pd

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, MinMaxScaler
from sklearn.preprocessing import OneHotEncoder, OrdinalEncoder
from sklearn.compose import ColumnTransformer
from sklearn.impute import SimpleImputer

In [192]:
df = pd.read_csv(r"D:\py_machine_learning\datasets\ecommerce_customer_churn_dataset - ecommerce_customer_churn_dataset.csv")

df.head(5)

,Age,Gender,Country,City,Membership_Years,Login_Frequency,Session_Duration_Avg,Pages_Per_Session,Cart_Abandonment_Rate,Wishlist_Items,...,Email_Open_Rate,Customer_Service_Calls,Product_Reviews_Written,Social_Media_Engagement_Score,Mobile_App_Usage,Payment_Method_Diversity,Lifetime_Value,Credit_Balance,Churned,Signup_Quarter
0,43.0,Male,France,Marseille,2.9,14,27.4,6.0,50.6,3.0,...,17.9,9.0,4.0,16.3,20.8,1.0,953.33,2278.0,0,Q1
1,36.0,Male,UK,Manchester,1.6,15,42.7,10.3,37.7,1.0,...,42.8,7.0,3.0,NaN,23.3,3.0,1067.47,3028.0,0,Q4
2,45.0,Female,Canada,Vancouver,2.9,10,24.8,1.6,70.9,1.0,...,0.0,4.0,1.0,NaN,8.8,NaN,1289.75,2317.0,0,Q4
3,56.0,Female,USA,New York,2.6,10,38.4,14.8,41.7,9.0,...,41.4,2.0,5.0,85.9,31.0,3.0,2340.92,2674.0,0,Q1
4,35.0,Male,India,Delhi,3.1,29,51.4,NaN,19.1,9.0,...,37.9,1.0,11.0,83.0,50.4,4.0,3041.29,5354.0,0,Q4

In [194]:
df.head(2)

,Age,Gender,Country,City,Membership_Years,Login_Frequency,Session_Duration_Avg,Pages_Per_Session,Cart_Abandonment_Rate,Wishlist_Items,...,Email_Open_Rate,Customer_Service_Calls,Product_Reviews_Written,Social_Media_Engagement_Score,Mobile_App_Usage,Payment_Method_Diversity,Lifetime_Value,Credit_Balance,Churned,Signup_Quarter
0,43.0,Male,France,Marseille,2.9,14,27.4,6.0,50.6,3.0,...,17.9,9.0,4.0,16.3,20.8,1.0,953.33,2278.0,0,Q1
1,36.0,Male,UK,Manchester,1.6,15,42.7,10.3,37.7,1.0,...,42.8,7.0,3.0,NaN,23.3,3.0,1067.47,3028.0,0,Q4

In [195]:
x = df.drop(columns=['Churned'])
y = df['Churned']

In [196]:
from sklearn.model_selection import train_test_split

In [197]:
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.2,random_state=42)

In [210]:
sc = StandardScaler()

In [211]:
x_train_sc = sc.fit_transform(x_train)

ValueError: could not convert string to float: 'Female'

In [201]:
si = SimpleImputer(strategy = 'mean')
x_train_impute = si.fit_transform(x_train[['Age', 'Membership_Years', 'Login_Frequency', 'Session_Duration_Avg',
       'Pages_Per_Session', 'Cart_Abandonment_Rate', 'Wishlist_Items',
       'Total_Purchases', 'Average_Order_Value', 'Days_Since_Last_Purchase',
       'Discount_Usage_Rate', 'Returns_Rate', 'Email_Open_Rate',
       'Customer_Service_Calls', 'Product_Reviews_Written',
       'Social_Media_Engagement_Score', 'Mobile_App_Usage',
       'Payment_Method_Diversity', 'Lifetime_Value', 'Credit_Balance']])

x_test_impute = si.fit_transform(x_test[['Age', 'Membership_Years', 'Login_Frequency', 'Session_Duration_Avg',
       'Pages_Per_Session', 'Cart_Abandonment_Rate', 'Wishlist_Items',
       'Total_Purchases', 'Average_Order_Value', 'Days_Since_Last_Purchase',
       'Discount_Usage_Rate', 'Returns_Rate', 'Email_Open_Rate',
       'Customer_Service_Calls', 'Product_Reviews_Written',
       'Social_Media_Engagement_Score', 'Mobile_App_Usage',
       'Payment_Method_Diversity', 'Lifetime_Value', 'Credit_Balance']])
x_train.shape

(40000, 24)

In [202]:
oe = OrdinalEncoder(categories=[['Male', 'Female', 'Other']])
x_train_gender = oe.fit_transform(x_train[['Gender']])

x_test_gender = oe.fit_transform(x_test[['Gender']])

x_train_gender.shape

(40000, 1)

In [203]:
x_train_gender = x_train_gender.astype('int64')

array([[1],
       [1],
       [1],
       ...,
       [1],
       [1],
       [0]], shape=(40000, 1))

In [205]:
ohe = OneHotEncoder(drop='first',sparse_output=False,dtype=np.int32)

In [206]:
ohe.fit_transform(df[['Country','City','Signup_Quarter']])

array([[0, 1, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 1],
       [1, 0, 0, ..., 0, 0, 1],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 1, 0, 0],
       [0, 0, 0, ..., 0, 1, 0]], shape=(50000, 49), dtype=int32)

In [208]:
x_train_sc = sc.fit_transform(x_train)

ValueError: could not convert string to float: 'Female'

In [ ]:
x_train_new = pd.DataFrame(x_train_sc,columns= x_train.columns)

In [ ]:
np.round(x_train_new.describe(), 2)

,Age,Gender,Country,City,Membership_Years,Login_Frequency,Session_Duration_Avg,Pages_Per_Session,Cart_Abandonment_Rate,Wishlist_Items,...,Returns_Rate,Email_Open_Rate,Customer_Service_Calls,Product_Reviews_Written,Social_Media_Engagement_Score,Mobile_App_Usage,Payment_Method_Diversity,Lifetime_Value,Credit_Balance,Churned
count,40000.00,40000.00,40000.00,40000.00,40000.00,40000.00,40000.00,40000.00,40000.00,40000.00,...,40000.00,40000.00,40000.00,40000.00,40000.00,40000.00,40000.00,40000.00,40000.00,40000.00
mean,-0.00,-0.00,0.00,-0.00,0.00,0.00,-0.00,-0.00,0.00,-0.00,...,-0.00,-0.00,-0.00,-0.00,-0.00,-0.00,-0.00,0.00,-0.00,0.00
std,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,...,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00
min,-2.82,-0.97,-1.76,-1.75,-1.40,-1.49,-2.53,-2.10,-3.50,-1.40,...,-1.12,-1.50,-2.12,-1.24,-1.51,-2.16,-1.23,-1.59,-1.70,-0.64
25%,-0.67,-0.97,-0.97,-0.83,-0.77,-0.72,-0.71,-0.68,-0.65,-0.74,...,-0.59,-0.75,-0.63,-0.79,-0.71,-0.68,-0.31,-0.72,-0.69,-0.64
50%,0.01,-0.97,0.22,-0.09,-0.24,-0.08,-0.08,-0.08,0.06,-0.09,...,-0.20,-0.08,-0.25,-0.35,-0.08,-0.08,-0.31,-0.22,-0.05,-0.64
75%,0.62,0.90,1.01,0.82,0.54,0.69,0.61,0.63,0.71,0.56,...,0.36,0.63,0.49,0.54,0.59,0.58,0.61,0.48,0.61,1.57
max,13.95,2.77,1.01,1.84,3.40,4.40,4.57,4.20,5.25,7.75,...,15.89,5.10,5.73,8.09,3.67,4.77,2.46,7.28,4.35,1.57

In [ ]:
from sklearn.preprocessing import MinMaxScaler

In [ ]:
mn = MinMaxScaler()

In [ ]:
x_train_mn = mn.fit_transform(x_train)

In [ ]:
x_train_new = pd.DataFrame(x_train_mn, columns=x_train.columns)

In [ ]:
np.round(x_train_new.describe(),2)

,Age,Gender,Country,City,Membership_Years,Login_Frequency,Session_Duration_Avg,Pages_Per_Session,Cart_Abandonment_Rate,Wishlist_Items,...,Returns_Rate,Email_Open_Rate,Customer_Service_Calls,Product_Reviews_Written,Social_Media_Engagement_Score,Mobile_App_Usage,Payment_Method_Diversity,Lifetime_Value,Credit_Balance,Churned
count,40000.00,40000.00,40000.00,40000.00,40000.00,40000.00,40000.00,40000.00,40000.00,40000.00,...,40000.00,40000.00,40000.00,40000.00,40000.00,40000.00,40000.00,40000.00,40000.00,40000.00
mean,0.17,0.26,0.64,0.49,0.29,0.25,0.36,0.33,0.40,0.15,...,0.07,0.23,0.27,0.13,0.29,0.31,0.33,0.18,0.28,0.29
std,0.06,0.27,0.36,0.28,0.21,0.17,0.14,0.16,0.11,0.11,...,0.06,0.15,0.13,0.11,0.19,0.14,0.27,0.11,0.17,0.45
min,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
25%,0.13,0.00,0.29,0.26,0.13,0.13,0.26,0.23,0.32,0.07,...,0.03,0.11,0.19,0.05,0.15,0.21,0.25,0.10,0.17,0.00
50%,0.17,0.00,0.71,0.46,0.24,0.24,0.35,0.32,0.41,0.14,...,0.05,0.21,0.24,0.10,0.28,0.30,0.25,0.15,0.27,0.00
75%,0.21,0.50,1.00,0.72,0.40,0.37,0.44,0.43,0.48,0.21,...,0.09,0.32,0.33,0.19,0.41,0.40,0.50,0.23,0.38,1.00
max,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,...,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00

In [ ]:
df.isnull().sum()

Age                              0
Gender                           0
Country                          0
City                             0
Membership_Years                 0
Login_Frequency                  0
Session_Duration_Avg             0
Pages_Per_Session                0
Cart_Abandonment_Rate            0
Wishlist_Items                   0
Total_Purchases                  0
Average_Order_Value              0
Days_Since_Last_Purchase         0
Discount_Usage_Rate              0
Returns_Rate                     0
Email_Open_Rate                  0
Customer_Service_Calls           0
Product_Reviews_Written          0
Social_Media_Engagement_Score    0
Mobile_App_Usage                 0
Payment_Method_Diversity         0
Lifetime_Value                   0
Credit_Balance                   0
Churned                          0
Signup_Quarter                   0
dtype: int64