In [1]:
import numpy as np 
import pandas as pd 

from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import OrdinalEncoder

In [3]:
df = pd.read_csv(r"D:\py_machine_learning\datasets\insurance - insurance.csv")

df.head(2)

   age     sex    bmi  children smoker     region     charges
0   19  female  27.90         0    yes  southwest  16884.9240
1   18    male  33.77         1     no  southeast   1725.5523

In [4]:
df.isnull().sum()

age         0
sex         0
bmi         0
children    0
smoker      0
region      0
charges     0
dtype: int64

In [5]:
from sklearn.model_selection import train_test_split

x_train , x_test , y_train , y_test = train_test_split(df.drop(columns=['charges',]),df['charges'],test_size=0.2,random_state=42)

In [6]:
x_train

      age     sex     bmi  children smoker     region
560    46  female  19.950         2     no  northwest
1285   47  female  24.320         0     no  northeast
1142   52  female  24.860         0     no  southeast
969    39  female  34.320         5     no  southeast
486    54  female  21.470         3     no  northwest
...   ...     ...     ...       ...    ...        ...
1095   18  female  31.350         4     no  northeast
1130   39  female  23.870         5     no  southeast
1294   58    male  25.175         0     no  northeast
860    37  female  47.600         2    yes  southwest
1126   55    male  29.900         0     no  southwest

[1070 rows x 6 columns]

In [7]:
oe = OrdinalEncoder(categories=[['yes','no']])
x_train_smoker = oe.fit_transform(x_train[['smoker']])

# also the test data 
x_test_smoker = oe.fit_transform(x_test[['smoker']])

x_train_smoker.shape

(1070, 1)

In [ ]:
ohe = OneHotEncoder(drop='first',sparse_output=False)
x_train_sex_region = ohe.fit_transform(x_train[['sex','region']])

x_test_gender_sex_region = ohe.fit_transform(x_test[['sex','region']])

x_train_sex_region.shape

(1070, 4)

In [9]:
x_train_age = x_train.drop(columns= ['sex','smoker','region']).values

# also the test data 

x_test_age = x_train.drop(columns= ['sex','smoker','region']).values

x_train_age.shape

(1070, 3)

In [10]:
x_train_transformed = np.concatenate((x_train_age,x_train_sex_region,x_train_smoker), axis=1)

In [11]:
x_train_transformed.shape

(1070, 8)

In [12]:
from sklearn.compose import ColumnTransformer

transformer = ColumnTransformer(transformers=[
    ('tnf1',OrdinalEncoder(categories=[['yes','no']]),['smoker']), 
    ('tnf2',OneHotEncoder(sparse_output=False,drop = 'first'),['sex','region'])

],remainder='passthrough')

In [13]:
transformer.fit_transform(x_train).shape

(1070, 8)

In [15]:
transformer.fit_transform(x_test).shape

(268, 8)