In [27]:
import numpy as np 
import pandas as pd 

from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import OrdinalEncoder

In [28]:
df = pd.read_csv(r"D:\py_machine_learning\datasets\credit_scoring - credit_scoring.csv")

df.head()

,Age,Gender,Marital Status,Education Level,Employment Status,Credit Utilization Ratio,Payment History,Number of Credit Accounts,Loan Amount,Interest Rate,Loan Term,Type of Loan
0,60,Male,Married,Master,Employed,0.22,2685,2,4675000,2.65,48,Personal Loan
1,25,Male,Married,High School,Unemployed,0.20,2371,9,3619000,5.19,60,Auto Loan
2,30,Female,Single,Master,Employed,0.22,2771,6,957000,2.76,12,Auto Loan
3,58,Female,Married,PhD,Unemployed,0.12,1371,2,4731000,6.57,60,Auto Loan
4,32,Male,Married,Bachelor,Self-Employed,0.99,828,2,3289000,6.28,36,Personal Loan

In [16]:
df.isnull().sum()

Age                          0
Gender                       0
Marital Status               0
Education Level              0
Employment Status            0
Credit Utilization Ratio     0
Payment History              0
Number of Credit Accounts    0
Loan Amount                  0
Interest Rate                0
Loan Term                    0
Type of Loan                 0
dtype: int64

In [17]:
from sklearn.model_selection import train_test_split

x_train , x_test , y_train , y_test = train_test_split(df.drop(columns=['Type of Loan',]),df['Type of Loan'],test_size=0.2,random_state=42)

In [18]:
x_train.head()

,Age,Gender,Marital Status,Education Level,Employment Status,Credit Utilization Ratio,Payment History,Number of Credit Accounts,Loan Amount,Interest Rate,Loan Term
29,28,Female,Married,PhD,Unemployed,0.71,2028,1,1038000,2.43,24
535,64,Male,Married,Bachelor,Unemployed,0.05,1114,2,3927000,12.61,60
695,20,Male,Divorced,Bachelor,Self-Employed,0.56,2542,8,3395000,11.22,12
557,47,Female,Married,High School,Self-Employed,0.35,1771,9,4518000,16.76,48
836,52,Female,Single,Bachelor,Self-Employed,0.71,2000,2,1535000,5.25,60

In [19]:
oe = OrdinalEncoder(categories=[['Married','Divorced','Single']])
x_train_Marital_Status = oe.fit_transform(x_train[['Marital Status']])

x_test_Marital_Status = oe.fit_transform(x_test[['Marital Status']])

x_train_Marital_Status.shape

(800, 1)

In [20]:
ohe = OneHotEncoder(drop='first',sparse_output=False)
x_train_gender = ohe.fit_transform(x_train[['Gender','Education Level','Employment Status']])

# also the test data 
x_test_gender = ohe.fit_transform(x_test[['Gender','Education Level','Employment Status']])

x_train_gender.shape

(800, 6)

In [21]:
x_train_age = x_train.drop(columns= ['Gender','Education Level','Employment Status','Marital Status']).values

# also the test data 

x_test_age = x_train.drop(columns= ['Gender','Education Level','Employment Status','Marital Status']).values

x_train_age.shape

(800, 7)

In [22]:
x_train_transformed = np.concatenate((x_train_age,x_train_gender,x_train_Marital_Status), axis=1)

In [23]:
x_train_transformed.shape

(800, 14)

In [24]:
from sklearn.compose import ColumnTransformer # this is how import columnTransformer

transformer = ColumnTransformer(transformers=[
    ('tnf1',OrdinalEncoder(categories=[['Married','Divorced','Single']]),['Marital Status']), 
    ('tnf2',OneHotEncoder(sparse_output=False,drop = 'first'),['Gender','Education Level','Employment Status'])

],remainder='passthrough')

In [25]:
transformer.fit_transform(x_train).shape

(800, 14)

In [26]:
transformer.fit_transform(x_test).shape

(200, 14)