In [1]:
import numpy as np 
import pandas as pd 
import seaborn as sns
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import OrdinalEncoder

In [2]:
df = sns.load_dataset('tips')
df

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [3]:
df.isnull().sum()

total_bill    0
tip           0
sex           0
smoker        0
day           0
time          0
size          0
dtype: int64

In [4]:
from sklearn.model_selection import train_test_split

x_train , x_test , y_train , y_test = train_test_split(df.drop(columns=['total_bill',]),df['total_bill'],test_size=0.2,random_state=42)

In [5]:
x_train

      tip     sex smoker   day    time  size
228  2.72    Male     No   Sat  Dinner     2
208  2.03    Male    Yes   Sat  Dinner     2
96   4.00    Male    Yes   Fri  Dinner     2
167  4.50    Male     No   Sun  Dinner     4
84   2.03    Male     No  Thur   Lunch     2
..    ...     ...    ...   ...     ...   ...
106  4.06    Male    Yes   Sat  Dinner     2
14   3.02  Female     No   Sun  Dinner     2
92   1.00  Female    Yes   Fri  Dinner     2
179  3.55    Male    Yes   Sun  Dinner     2
102  2.50  Female    Yes   Sat  Dinner     3

[195 rows x 6 columns]

In [6]:
oe = OrdinalEncoder(categories=[['Dinner','Lunch']])
x_train_time = oe.fit_transform(x_train[['time']])


x_test_time = oe.fit_transform(x_test[['time']])

x_train_time.shape

(195, 1)

In [7]:
ohe = OneHotEncoder(drop='first',sparse_output=False)
x_train_sex_smoker = ohe.fit_transform(x_train[['sex','smoker']])


x_test_sex_smoker = ohe.fit_transform(x_test[['sex','smoker']])

x_train_sex_smoker.shape

(195, 2)

In [8]:
# Extracting Tip , Size 
x_train_tip_size = x_train.drop(columns= ['sex','smoker','day',	'time']).values

# also the test data 

x_test_tip_size = x_train.drop(columns= ['sex',	'smoker','day',	'time']).values

x_train_tip_size.shape

(195, 2)

In [9]:
x_train_transformed = np.concatenate((x_train_time,x_train_sex_smoker,x_train_tip_size), axis=1)

In [10]:
x_train_transformed.shape

(195, 5)

In [15]:
from sklearn.compose import ColumnTransformer

transformer = ColumnTransformer(transformers=[
    ('tnf1',OrdinalEncoder(categories=[['Lunch','Dinner']]),['time']), 
    ('tnf2',OneHotEncoder(sparse_output=False,drop = 'first'),['sex','smoker'])

],remainder='passthrough')

In [16]:
transformer.fit_transform(x_train).shape

(195, 6)

In [17]:
transformer.fit_transform(x_test).shape

(49, 6)