Encoding ----> transform your categorical data into numerical data.  
1. Label ----> it will encode data 1-1 columns.  
2. Ordinal --> it will encode more than 1 columns.  
3. OneHot ---> it will create new column based on sub categories but it has only values not column name.  
4. get_dummies -> it will create new column based on sub-categories but it show column name with values.

In [2]:
import numpy as np 
import pandas as pd

In [3]:
df = pd.read_csv(r"D:\py_machine_learning\datasets\toyota - toyota.csv")
df.head(2)

  model  year  price transmission  mileage fuelType  tax   mpg  engineSize
0  GT86  2016  16000       Manual    24089   Petrol  265  36.2         2.0
1  GT86  2017  15995       Manual    18615   Petrol  145  36.2         2.0

In [4]:
x = df.drop(columns=['price'])
y = df['price']

In [5]:
from sklearn.preprocessing import LabelEncoder

In [6]:
lb = LabelEncoder()

In [7]:
x['model']= lb.fit_transform(x['model'])
x['transmission']= lb.fit_transform(x['transmission'])
x['fuelType']= lb.fit_transform(x['fuelType'])

In [8]:
from sklearn.model_selection import train_test_split

In [9]:
x_train, x_test , y_train , y_test = train_test_split(x,y,test_size=0.2,random_state=42)

In [10]:
from sklearn.preprocessing import StandardScaler

In [11]:
sc = StandardScaler()

In [12]:
x_train_sc = sc.fit_transform(x_train)

In [13]:
x_train_new = pd.DataFrame(x_train_sc,columns= x_train.columns)

In [14]:
np.round(x_train_new.describe(), 2)

,model,year,transmission,mileage,fuelType,tax,mpg,engineSize
count,5390.00,5390.00,5390.00,5390.00,5390.00,5390.00,5390.00,5390.00
mean,0.00,-0.00,0.00,0.00,0.00,-0.00,0.00,-0.00
std,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00
min,-1.17,-8.58,-1.03,-1.19,-1.99,-1.28,-3.74,-3.36
25%,-0.88,-0.34,-1.03,-0.70,-1.07,-1.28,-0.48,-1.07
50%,-0.45,0.12,0.49,-0.23,0.77,0.55,-0.02,0.07
75%,1.28,0.57,0.49,0.43,0.77,0.68,0.36,0.76
max,1.28,1.49,3.54,7.94,0.77,6.36,10.64,6.94

In [15]:
cf = pd.read_csv(r"D:\py_machine_learning\datasets\covid_toy - covid_toy.csv")
cf

    age  gender  fever   cough       city has_covid
0    60    Male  103.0    Mild    Kolkata        No
1    27    Male  100.0    Mild      Delhi       Yes
2    42    Male  101.0    Mild      Delhi        No
3    31  Female   98.0    Mild    Kolkata        No
4    65  Female  101.0    Mild     Mumbai        No
..  ...     ...    ...     ...        ...       ...
95   12  Female  104.0    Mild  Bangalore        No
96   51  Female  101.0  Strong    Kolkata       Yes
97   20  Female  101.0    Mild  Bangalore        No
98    5  Female   98.0  Strong     Mumbai        No
99   10  Female   98.0  Strong    Kolkata       Yes

[100 rows x 6 columns]

In [16]:
x = cf.drop(columns=['has_covid'])
y = cf['has_covid']

In [17]:
from sklearn.preprocessing import LabelEncoder

In [18]:
lb = LabelEncoder()

In [19]:
x['gender']= lb.fit_transform(x['gender'])
x['cough']= lb.fit_transform(x['cough'])
x['city']= lb.fit_transform(x['city'])

In [20]:
from sklearn.model_selection import train_test_split

In [21]:
x_train, x_test , y_train , y_test = train_test_split(x,y,test_size=0.2, random_state=42)

In [22]:
from sklearn.preprocessing import StandardScaler

In [23]:
sc = StandardScaler()

In [24]:
x_train_sc = sc.fit_transform(x_train)

In [25]:
x_train_new = pd.DataFrame(x_train_sc,columns= x_train.columns)

In [26]:
np.round(x_train_new.describe(),2)

         age  gender  fever  cough   city
count  80.00   80.00  71.00  80.00  80.00
mean   -0.00    0.00  -0.00  -0.00  -0.00
std     1.01    1.01   1.01   1.01   1.01
min    -1.56   -0.84  -1.47  -0.82  -1.17
25%    -0.94   -0.84  -0.74  -0.82  -1.17
50%    -0.04   -0.84   0.00  -0.82  -0.27
75%     0.91    1.19   0.98   1.22   0.63
max     1.69    1.19   1.47   1.22   1.53

In [27]:
kf = pd.read_csv(r"D:\py_machine_learning\datasets\Attrition - Attrition.csv")
kf.head(2)

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7

In [28]:
x = kf.drop(columns=['Attrition'])
y = kf['Attrition']

In [29]:
from sklearn.preprocessing import LabelEncoder

In [30]:
lb = LabelEncoder()

In [31]:
x['BusinessTravel']= lb.fit_transform(x['BusinessTravel'])
x['Department']= lb.fit_transform(x['Department'])
x['EducationField']= lb.fit_transform(x['EducationField'])

In [32]:
from sklearn.model_selection import train_test_split

In [33]:
x_train, x_test , y_train, y_test = train_test_split(x,y,test_size=0.2, random_state=42)

In [34]:
from sklearn.preprocessing import StandardScaler