One Hot Encoding  
column has_covid['y','n']---> new column y_has_covid, n_has_covid

In [1]:
import numpy as np 
import pandas as pd

In [2]:
df = pd.read_csv(r"D:\py_machine_learning\datasets\covid_toy - covid_toy.csv")
df.head(2)

   age gender  fever cough     city has_covid
0   60   Male  103.0  Mild  Kolkata        No
1   27   Male  100.0  Mild    Delhi       Yes

In [3]:
df = df.dropna()

In [4]:
df = df.drop(columns=['age','fever'])

In [5]:
from sklearn.preprocessing import OneHotEncoder

In [6]:
ohe = OneHotEncoder(drop='first',sparse_output=False,dtype=np.int32)

In [ ]:
# gender ---> 2-1 = 1
# cough ----> 2-1 = 1
# city -----> 4-1 = 3
# has_covid --->2-1 = 1

In [7]:
ohe.fit_transform(df[['gender','cough','city','has_covid']])

array([[1, 0, 0, 1, 0, 0],
       [1, 0, 1, 0, 0, 1],
       [1, 0, 1, 0, 0, 0],
       [0, 0, 0, 1, 0, 0],
       [0, 0, 0, 0, 1, 0],
       [1, 1, 0, 0, 0, 0],
       [0, 1, 0, 0, 0, 0],
       [0, 0, 1, 0, 0, 0],
       [0, 0, 0, 0, 1, 1],
       [0, 1, 0, 1, 0, 0],
       [1, 0, 0, 0, 0, 1],
       [1, 0, 0, 0, 0, 0],
       [1, 1, 0, 1, 0, 1],
       [0, 0, 0, 1, 0, 1],
       [0, 1, 1, 0, 0, 0],
       [0, 0, 0, 0, 0, 1],
       [1, 1, 0, 0, 0, 0],
       [1, 0, 0, 0, 0, 1],
       [0, 1, 0, 1, 0, 1],
       [0, 0, 1, 0, 0, 1],
       [0, 1, 0, 1, 0, 0],
       [0, 0, 0, 1, 0, 1],
       [0, 1, 1, 0, 0, 0],
       [1, 0, 0, 1, 0, 0],
       [1, 0, 1, 0, 0, 1],
       [1, 0, 0, 1, 0, 0],
       [0, 1, 1, 0, 0, 1],
       [0, 0, 0, 1, 0, 0],
       [1, 0, 0, 0, 1, 1],
       [0, 1, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0],
       [1, 0, 0, 1, 0, 0],
       [0, 0, 1, 0, 0, 1],
       [0, 0, 0, 1, 0, 0],
       [0, 0, 1, 0, 0, 0],
       [1, 0, 1, 0, 0, 1],
       [0, 0, 0, 0, 0, 1],
       [1, 1, 1, 0, 0, 0],
       [1, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 1, 0],
       [0, 0, 0, 0, 0, 0],
       [1, 1, 0, 0, 0, 0],
       [1, 0, 0, 0, 1, 0],
       [1, 0, 1, 0, 0, 1],
       [0, 1, 0, 1, 0, 1],
       [0, 1, 0, 0, 0, 1],
       [1, 0, 1, 0, 0, 1],
       [0, 0, 0, 0, 1, 1],
       [0, 0, 0, 0, 1, 1],
       [0, 1, 0, 0, 0, 0],
       [1, 1, 0, 0, 1, 1],
       [0, 0, 0, 1, 0, 1],
       [0, 1, 0, 0, 0, 1],
       [0, 1, 0, 0, 1, 0],
       [0, 1, 0, 0, 0, 1],
       [1, 0, 0, 0, 0, 0],
       [1, 0, 0, 0, 1, 0],
       [0, 0, 0, 0, 0, 0],
       [1, 0, 0, 1, 0, 0],
       [1, 0, 0, 0, 0, 0],
       [0, 1, 0, 1, 0, 0],
       [0, 0, 1, 0, 0, 0],
       [0, 1, 1, 0, 0, 0],
       [0, 1, 1, 0, 0, 0],
       [0, 0, 0, 1, 0, 0],
       [1, 1, 0, 1, 0, 1],
       [0, 1, 1, 0, 0, 0],
       [1, 0, 0, 1, 0, 1],
       [1, 0, 0, 0, 0, 1],
       [0, 0, 0, 1, 0, 0],
       [1, 0, 0, 0, 0, 1],
       [0, 0, 0, 1, 0, 1],
       [0, 0, 0, 0, 1, 1],
       [1, 0, 1, 0, 0, 0],
       [1, 0, 0, 1, 0, 1],
       [0, 0, 0, 1, 0, 0],
       [0, 1, 0, 0, 1, 0],
       [0, 0, 0, 0, 0, 1],
       [1, 0, 0, 0, 0, 1],
       [1, 1, 0, 0, 0, 0],
       [0, 0, 0, 1, 0, 0],
       [1, 1, 0, 0, 0, 0],
       [0, 1, 1, 0, 0, 0],
       [0, 1, 0, 1, 0, 0],
       [1, 0, 0, 1, 0, 1],
       [0, 0, 0, 0, 0, 0],
       [0, 1, 0, 1, 0, 1],
       [0, 0, 0, 0, 0, 0],
       [0, 1, 0, 0, 1, 0],
       [0, 1, 0, 1, 0, 1]], dtype=int32)

In [8]:
#get_dummies

In [9]:
a = pd.get_dummies(df,columns=['gender','cough','city','has_covid'],drop_first=True)

In [10]:
a = a.astype(int)

In [ ]:
# label encoding

In [11]:
tf = pd.read_csv(r"D:\py_machine_learning\datasets\toyota - toyota.csv")

In [12]:
tf.head(2)

  model  year  price transmission  mileage fuelType  tax   mpg  engineSize
0  GT86  2016  16000       Manual    24089   Petrol  265  36.2         2.0
1  GT86  2017  15995       Manual    18615   Petrol  145  36.2         2.0

In [15]:
x = tf.drop(columns=['price'])
y = tf['price']

In [16]:
from sklearn.preprocessing import LabelEncoder

In [17]:
lb = LabelEncoder()

In [18]:
x['model']= lb.fit_transform(x['model'])
x['transmission']= lb.fit_transform(x['transmission'])
x['fuelType']= lb.fit_transform(x['fuelType'])

In [24]:
x

      model  year  transmission  mileage  fuelType  tax   mpg  engineSize
0         6  2016             1    24089         3  265  36.2         2.0
1         6  2017             1    18615         3  145  36.2         2.0
2         6  2015             1    27469         3  265  36.2         2.0
3         6  2017             1    14736         3  150  36.2         2.0
4         6  2017             1    36284         3  145  36.2         2.0
...     ...   ...           ...      ...       ...  ...   ...         ...
6733      8  2011             0    30000         3   20  58.9         1.0
6734     14  2011             1    36154         3  125  50.4         1.3
6735     14  2012             1    46000         0  125  57.6         1.4
6736     14  2011             1    60700         3  125  50.4         1.3
6737     14  2011             1    45128         3  125  50.4         1.3

[6738 rows x 8 columns]

In [34]:
gf = pd.read_csv(r"D:\py_machine_learning\datasets\toyota - toyota.csv")

In [35]:
gf.head(2)

  model  year  price transmission  mileage fuelType  tax   mpg  engineSize
0  GT86  2016  16000       Manual    24089   Petrol  265  36.2         2.0
1  GT86  2017  15995       Manual    18615   Petrol  145  36.2         2.0

In [36]:
gf = gf.dropna()

In [37]:
gf = gf.drop(columns=['year','price','mileage','tax','mpg','engineSize','model'])

In [38]:
gf.head()

  transmission fuelType
0       Manual   Petrol
1       Manual   Petrol
2       Manual   Petrol
3       Manual   Petrol
4       Manual   Petrol

In [39]:
from sklearn.preprocessing import OrdinalEncoder

In [47]:
gf.groupby('transmission').size()

transmission
Automatic    2657
Manual       3826
Other           1
Semi-Auto     254
dtype: int64

In [48]:
oe = OrdinalEncoder(categories=[['Manual','Automatic','Other','Semi-Auto'],
                                ['Diesel','Hybrid','Other','Petrol']])

In [50]:
gf_arr = oe.fit_transform(gf)

In [51]:
gf_new = pd.DataFrame(gf_arr,columns=gf.columns)

In [52]:
gf_new

      transmission  fuelType
0              0.0       3.0
1              0.0       3.0
2              0.0       3.0
3              0.0       3.0
4              0.0       3.0
...            ...       ...
6733           1.0       3.0
6734           0.0       3.0
6735           0.0       0.0
6736           0.0       3.0
6737           0.0       3.0

[6738 rows x 2 columns]

In [54]:
# onehot_encoding

In [60]:
oh = pd.read_csv(r"D:\py_machine_learning\datasets\toyota - toyota.csv")

In [61]:
oh.head(2)

  model  year  price transmission  mileage fuelType  tax   mpg  engineSize
0  GT86  2016  16000       Manual    24089   Petrol  265  36.2         2.0
1  GT86  2017  15995       Manual    18615   Petrol  145  36.2         2.0

In [62]:
oh = oh.dropna()

In [63]:
from sklearn.preprocessing import OneHotEncoder

In [64]:
ohe = OneHotEncoder(drop='first',sparse_output=False,dtype=np.int32)

In [66]:
ohe.fit_transform(df[['transmission','fuelType']])

KeyError: "None of [Index(['transmission', 'fuelType'], dtype='object')] are in the [columns]"