2. Ordinal --> it will encode more than 1 columns.

In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv(r"D:\py_machine_learning\datasets\covid_toy - covid_toy.csv")
df.head()

   age  gender  fever cough     city has_covid
0   60    Male  103.0  Mild  Kolkata        No
1   27    Male  100.0  Mild    Delhi       Yes
2   42    Male  101.0  Mild    Delhi        No
3   31  Female   98.0  Mild  Kolkata        No
4   65  Female  101.0  Mild   Mumbai        No

In [3]:
df = df.dropna()

In [4]:
df = df.drop(columns=['age','fever'])

In [5]:
df.head(2)

  gender cough     city has_covid
0   Male  Mild  Kolkata        No
1   Male  Mild    Delhi       Yes

In [6]:
from sklearn.preprocessing import OrdinalEncoder

In [7]:
oe = OrdinalEncoder(categories=[['Male','Female'],
                    ['Mild','Strong'],
                    ['Kolkata','Bangalore','Delhi','Mumbai'],
                    ['Yes','No']])

In [8]:
df_arr = oe.fit_transform(df)

In [9]:
df_new = pd.DataFrame(df_arr,columns=df.columns)

In [10]:
df_new

    gender  cough  city  has_covid
0      0.0    0.0   0.0        1.0
1      0.0    0.0   2.0        0.0
2      0.0    0.0   2.0        1.0
3      1.0    0.0   0.0        1.0
4      1.0    0.0   3.0        1.0
..     ...    ...   ...        ...
85     1.0    0.0   1.0        1.0
86     1.0    1.0   0.0        0.0
87     1.0    0.0   1.0        1.0
88     1.0    1.0   3.0        1.0
89     1.0    1.0   0.0        0.0

[90 rows x 4 columns]