Normal distribution  
from central tendancy(mean,median,mode) -----> left and right side equal data points  
Identification  
mean = 0, standard deviation =1

In [58]:
import numpy as np 
import pandas as pd

In [59]:
df = pd.read_csv(r"D:\py_machine_learning\datasets\covid_toy - covid_toy.csv")
df

    age  gender  fever   cough       city has_covid
0    60    Male  103.0    Mild    Kolkata        No
1    27    Male  100.0    Mild      Delhi       Yes
2    42    Male  101.0    Mild      Delhi        No
3    31  Female   98.0    Mild    Kolkata        No
4    65  Female  101.0    Mild     Mumbai        No
..  ...     ...    ...     ...        ...       ...
95   12  Female  104.0    Mild  Bangalore        No
96   51  Female  101.0  Strong    Kolkata       Yes
97   20  Female  101.0    Mild  Bangalore        No
98    5  Female   98.0  Strong     Mumbai        No
99   10  Female   98.0  Strong    Kolkata       Yes

[100 rows x 6 columns]

In [60]:
df.isnull().sum()

age           0
gender        0
fever        10
cough         0
city          0
has_covid     0
dtype: int64

In [61]:
df = df.dropna()

In [62]:
df = df.drop(columns=['city','cough'])

In [63]:
df.head(2)

   age gender  fever has_covid
0   60   Male  103.0        No
1   27   Male  100.0       Yes

In [64]:
df['gender'] = df['gender'].map({"Male":0, "Female": 1})
df['has_covid'] = df['has_covid'].map({"No":0, "Yes": 1})

In [65]:
df.head()

   age  gender  fever  has_covid
0   60       0  103.0          0
1   27       0  100.0          1
2   42       0  101.0          0
3   31       1   98.0          0
4   65       1  101.0          0

In [66]:
x = df.drop(columns=['has_covid'])
y = df['has_covid']

In [67]:
from sklearn.model_selection import train_test_split

In [68]:
x_train, x_test, y_train , y_test = train_test_split(x,y,test_size=0.2,random_state=42)

In [69]:
np.round(x_train.describe(),2)

         age  gender   fever
count  72.00   72.00   72.00
mean   43.53    0.64  100.74
std    25.30    0.48    2.12
min     5.00    0.00   98.00
25%    19.75    0.00   99.00
50%    47.00    1.00  101.00
75%    65.25    1.00  102.25
max    83.00    1.00  104.00

In [70]:
from sklearn.preprocessing import StandardScaler

In [71]:
sc = StandardScaler()

In [72]:
x_train_sc = sc.fit_transform(x_train) ## fir means learn the perameters and transform means apply on that data

In [73]:
x_train_new = pd.DataFrame(x_train_sc,columns=x_train.columns)

In [74]:
np.round(x_train_new.describe(),2)

         age  gender  fever
count  72.00   72.00  72.00
mean   -0.00    0.00  -0.00
std     1.01    1.01   1.01
min    -1.53   -1.33  -1.30
25%    -0.95   -1.33  -0.83
50%     0.14    0.75   0.13
75%     0.86    0.75   0.72
max     1.57    0.75   1.55