Workflow of ML ---->  
Data ingestion ----> Data Cleaning and preprocessing ----> Select ml model ---->  
Model training ----> Model prediction ----> Calculate perfomance of model.

Data cleaning and preprocessing ---->  
Data ----> x_train , x_test , y_train , y_test  
Machine(x_train, y_test) 
1 + 1 = 2  
2 + 2 = 4  
3 + 2 = 5  

likhna hai

How can we create divaidation ???

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv(r"D:\py_machine_learning\datasets\covid_toy - covid_toy.csv")
df

    age  gender  fever   cough       city has_covid
0    60    Male  103.0    Mild    Kolkata        No
1    27    Male  100.0    Mild      Delhi       Yes
2    42    Male  101.0    Mild      Delhi        No
3    31  Female   98.0    Mild    Kolkata        No
4    65  Female  101.0    Mild     Mumbai        No
..  ...     ...    ...     ...        ...       ...
95   12  Female  104.0    Mild  Bangalore        No
96   51  Female  101.0  Strong    Kolkata       Yes
97   20  Female  101.0    Mild  Bangalore        No
98    5  Female   98.0  Strong     Mumbai        No
99   10  Female   98.0  Strong    Kolkata       Yes

[100 rows x 6 columns]

In [4]:
df.isnull().sum()

age           0
gender        0
fever        10
cough         0
city          0
has_covid     0
dtype: int64

In [5]:
df['fever'] = df['fever'].fillna(df['fever'].mean())

In [6]:
df.isnull().sum()

age          0
gender       0
fever        0
cough        0
city         0
has_covid    0
dtype: int64

In [7]:
x = df.drop(columns=['has_covid']) # Input and independant data 
x.shape

(100, 5)

In [8]:
y = df['has_covid'] # Target and dependent data 
y.shape

(100,)

In [9]:
from sklearn.model_selection import train_test_split

In [10]:
x_train, x_test , y_train , y_test = train_test_split(x,y,test_size=0.2,random_state=42)

In [13]:
print("Total Data shape :",df.shape)
print("-----------------------------")
print("Input data shape : ",x.shape)
print("x_train data shape : ",x_train.shape)
print("x_test data shape : ", x_test.shape)
print("-----------------------------")
print("Traget data shape : ",y.shape)
print("y_train data shape : ",y_train.shape)
print("y_test data shape : ", y_test.shape)

Total Data shape : (100, 6)
-----------------------------
Input data shape :  (100, 5)
x_train data shape :  (80, 5)
x_test data shape :  (20, 5)
-----------------------------
Traget data shape :  (100,)
y_train data shape :  (80,)
y_test data shape :  (20,)

In [29]:
cf = pd.read_csv(r"D:\py_machine_learning\datasets\titanic - titanic.csv")
cf.head(3)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,0,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,1,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,0,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q

In [30]:
cf.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age             86
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
dtype: int64

In [31]:
cf.fillna(1,inplace=True)

In [33]:
x = cf.drop(columns=['Embarked']) # Input and independant data 
x.shape

(418, 11)

In [34]:
y = cf['Embarked'] # Target and dependent data 
y.shape

(418,)

In [35]:
x_train, x_test , y_train , y_test = train_test_split(x,y,test_size=0.2,random_state=42)

In [36]:
print("Total Data shape :",cf.shape)
print("-----------------------------")
print("Input data shape : ",x.shape)
print("x_train data shape : ",x_train.shape)
print("x_test data shape : ", x_test.shape)
print("-----------------------------")
print("Traget data shape : ",y.shape)
print("y_train data shape : ",y_train.shape)
print("y_test data shape : ", y_test.shape)

Total Data shape : (418, 12)
-----------------------------
Input data shape :  (418, 11)
x_train data shape :  (334, 11)
x_test data shape :  (84, 11)
-----------------------------
Traget data shape :  (418,)
y_train data shape :  (334,)
y_test data shape :  (84,)