In [1]:
import pandas as pd

In [2]:
dataset = pd.read_csv(r"D:\py_machine_learning\datasets\placement.csv")
dataset.head()

   cgpa  package
0  6.89     3.26
1  5.12     1.98
2  7.82     3.25
3  7.42     3.67
4  6.94     3.57

In [7]:
x = dataset.iloc[:,:-1]
y = dataset["package"]

In [21]:
from sklearn.linear_model import LinearRegression

In [26]:
from sklearn.model_selection import cross_val_score , KFold
p = cross_val_score(LinearRegression(),x,y,cv=KFold(n_splits=10))
p.sort()
p*100

array([60.24064816, 61.66938928, 69.43153602, 72.75544892, 74.56316792,
       75.12887836, 79.80039658, 81.8386231 , 83.12351439, 85.51194411])

In [22]:
from sklearn.model_selection import cross_val_score
cross_val_score(LinearRegression(),x,y,cv=5)

array([0.77787964, 0.78773745, 0.76174756, 0.76296705, 0.70872539])

In [8]:
new_data = dataset.head(10)

In [11]:
x_new = new_data.iloc[:,:-1]
y_new = new_data["package"]

In [19]:
from sklearn.model_selection import LeaveOneOut,LeavePOut,KFold,StratifiedKFold
lo = KFold(n_splits=5)
for train , test in lo.split(x_new,y_new):
    print(train,test)

[2 3 4 5 6 7 8 9] [0 1]
[0 1 4 5 6 7 8 9] [2 3]
[0 1 2 3 6 7 8 9] [4 5]
[0 1 2 3 4 5 8 9] [6 7]
[0 1 2 3 4 5 6 7] [8 9]

In [15]:
new_data

   cgpa  package
0  6.89     3.26
1  5.12     1.98
2  7.82     3.25
3  7.42     3.67
4  6.94     3.57
5  7.89     2.99
6  6.73     2.60
7  6.75     2.48
8  6.09     2.31
9  8.31     3.51