In [12]:
import numpy as np
import pandas as pd

In [13]:
from sklearn.model_selection import train_test_split

In [14]:
# Normalization

In [15]:
df = pd.read_csv(r"D:\py_machine_learning\datasets\Churn_Modelling - Churn_Modelling.csv")
df.head(2)

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0

In [16]:
df = df.drop(columns=['Surname','Geography','Gender'])
df.head(2)

,RowNumber,CustomerId,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,619,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,608,41,1,83807.86,1,0,1,112542.58,0

In [17]:
# df.isnull().sum()

In [18]:
x = df.drop(columns=['Exited'])
y = df['Exited']

In [19]:
from sklearn.model_selection import train_test_split

In [20]:
x_train, x_test, y_train, y_test = train_test_split(x,
                                                    y,
                                                    test_size=0.2,
                                                    random_state=42)

In [21]:
np.round(x_train.describe(),2)

,RowNumber,CustomerId,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
count,8000.00,8000.00,8000.00,8000.00,8000.00,8000.00,8000.00,8000.00,8000.00,8000.00
mean,5012.51,15690665.10,651.65,38.90,5.00,76102.14,1.53,0.70,0.51,100431.29
std,2887.65,71847.43,96.37,10.52,2.88,62461.01,0.58,0.46,0.50,57518.92
min,2.00,15565701.00,350.00,18.00,0.00,0.00,1.00,0.00,0.00,90.07
25%,2512.75,15628215.50,585.00,32.00,3.00,0.00,1.00,0.00,0.00,51364.12
50%,5014.50,15690738.00,653.00,37.00,5.00,96447.52,1.00,1.00,1.00,100487.72
75%,7505.25,15753164.25,719.00,44.00,7.00,127611.33,2.00,1.00,1.00,149595.84
max,10000.00,15815660.00,850.00,92.00,10.00,250898.09,4.00,1.00,1.00,199970.74

In [22]:
# Apply Normalization

In [23]:
from sklearn.preprocessing import MinMaxScaler

In [24]:
mn = MinMaxScaler()

In [25]:
x_train_mn = mn.fit_transform(x_train)

In [26]:
x_train_new = pd.DataFrame(x_train_mn, columns=x_train.columns)

In [27]:
np.round(x_train_new.describe(),2)

,RowNumber,CustomerId,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
count,8000.00,8000.00,8000.00,8000.00,8000.00,8000.00,8000.00,8000.00,8000.00,8000.00
mean,0.50,0.50,0.60,0.28,0.50,0.30,0.18,0.70,0.51,0.50
std,0.29,0.29,0.19,0.14,0.29,0.25,0.19,0.46,0.50,0.29
min,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
25%,0.25,0.25,0.47,0.19,0.30,0.00,0.00,0.00,0.00,0.26
50%,0.50,0.50,0.61,0.26,0.50,0.38,0.00,1.00,1.00,0.50
75%,0.75,0.75,0.74,0.35,0.70,0.51,0.33,1.00,1.00,0.75
max,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00