In [1]:
import pandas as pd 
from sklearn.model_selection import train_test_split

In [14]:
df = pd.read_csv(r"D:\py_machine_learning\datasets\Attrition - Attrition.csv")
df.head(2)

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7

In [15]:
df.isnull().sum()

Age                         0
Attrition                   0
BusinessTravel              0
DailyRate                   0
Department                  0
DistanceFromHome            0
Education                   0
EducationField              0
EmployeeCount               0
EmployeeNumber              0
EnvironmentSatisfaction     0
Gender                      0
HourlyRate                  0
JobInvolvement              0
JobLevel                    0
JobRole                     0
JobSatisfaction             0
MaritalStatus               0
MonthlyIncome               0
MonthlyRate                 0
NumCompaniesWorked          0
Over18                      0
OverTime                    0
PercentSalaryHike           0
PerformanceRating           0
RelationshipSatisfaction    0
StandardHours               0
StockOptionLevel            0
TotalWorkingYears           0
TrainingTimesLastYear       0
WorkLifeBalance             0
YearsAtCompany              0
YearsInCurrentRole          0
YearsSinceLastPromotion     0
YearsWithCurrManager        0
dtype: int64

In [16]:
x = df.drop(columns=['YearsWithCurrManager'])
x.shape

(1470, 34)

In [17]:
y = df['YearsWithCurrManager']
y.shape

(1470,)

In [18]:
x_train , x_test , y_train , y_test = train_test_split(x,y,test_size=0.2,random_state=42)

In [19]:
print("Total Data shape :",df.shape)
print("-------------------------------")
print("x data shape : ",x.shape)
print("x_train data shape : ",x_train.shape)
print("x_test data shape : ",x_test.shape)
print("-------------------------------")
print("y data shape : ",y.shape)
print("y_train data shape : ",y_train.shape)
print("y_test data shape : ",y_test.shape)

Total Data shape : (1470, 35)
-------------------------------
x data shape :  (1470, 34)
x_train data shape :  (1176, 34)
x_test data shape :  (294, 34)
-------------------------------
y data shape :  (1470,)
y_train data shape :  (1176,)
y_test data shape :  (294,)